{% extends 'base/master.html' %}
{% block title %}
Tarea
{% endblock %}

{% block content %}
<h1>Tarea:</h1>
<form method="POST">{% csrf_token %}
    <div class='form-group'>
        <label>Descripcion:</label>
        <input type="text" class="form-control" name='task_description' value="{{task.description}}">
        <label>Terminada:</label>
        <input type="checkbox" name="task_done" {% if task.done %}checked{% endif %}>
    </div>
    <button class='btn btn-primary' name='saveTask'>Guardar</button>
</form>
<form method="POST">{% csrf_token %}
    <button class='btn btn-danger' name='deleteTask'>Eliminar Tarea</button>
</form>
{% endblock %}